{% extends "base.html" %}
{% block content %}

<h3 class="blue-grey-text text-darken-3 center-align">Tasks</h3>

<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_task')}}" class="btn-large orange darken-2">
            Add Task <i class="fas fa-plus-square right"></i>
        </a>
    </div>
</div>

<!-- https://materializecss.com/collapsible.html -->

<ul class="collapsible">
    <!-- sort is a jinja filter. Full list of filters: jinja.palletsprojects.com -->
    {% for task in tasks | sort(attribute="due_date") %}
    <li>
        <div class="collapsible-header blue-grey darken-1 white-text ">
            <i class="fas fa-caret-down"></i>
            <strong>{{ task.task_name }}</strong>: {{ task.due_date.strftime("%d %B, %Y") }}  
            {% if task.is_urgent == True %}
            <i class="fas fa-exclamation-circle orange-text text-darken-2"></i>
            {% endif %}
            
        </div>
        <div class="collapsible-body ">
            <strong>{{ task.category }}</strong>
            <p>{{ task.task_description }}</p>
           
                <a class="center-align orange-text text-darken-2" href="{{ url_for('edit_task', task_id=task.id)}}">Edit    </a>
                <a class="center-align orange-text text-darken-2" href="{{ url_for('delete_task', task_id=task.id)}}">Delete</a>
              
            </div>
        </div>
    </li>
    {% endfor %}
</ul>

{% endblock %}