/* style from Materialize to achieve sticky footer effect
https: //materializecss.com/footer.html */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* customise fonts  */
    font-family: Quicksand, sans-serif;
}

main {
    flex: 1 0 auto;
}

strong {
    font-weight: 700;
}

nav {
    padding-left: 1rem;
    padding-right: 2rem;
}


/* changing the 'Edit' and 'Delete' button's default styles  */

.card .card-action {
    padding: 20px 20px;
    display: flex;
    justify-content: space-around;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating){
    margin-right: 0;
}